// Colours
$blue: #2A9AF8;
$light-blue: #4AADFF;
$extra-light-blue: #E8F7FF;
$medium-blue: rgba(42, 156, 248, 0.6);
$dark-blue: #1788E6;

$grey: #EEEFF1;
$light-grey: #D1D4DB;
$extra-light-grey: #FAFAFB;
$medium-grey: #E7E9EC;
$dark-grey: #B9BFC9;
$extra-dark-grey: #8C95A6;

$white: #fff;
$main-text: #314160;
$grey-text: $light-grey;
$light-text: $white;