/* SASS example with Foundatio 6 */
/**
General table styling
 */
table {
    &.small {
        font-size: 85%;
    }
    &.center {
        th, td {
            text-align: center;
        }
    }
    &.left {
        th, td {
            text-align: left;
        }
    }
    &.header-left {
        th {
            text-align: left;
        }
    }
    &.header-center {
        th {
            text-align: center;
        }
    }
    th.center, td.center {
        text-align: center;
    }
    th.left, td.left {
        text-align: left;
    }
    &.blank-table {
        table-layout: fixed;
        background: none;
        border: none;
        width: 100%;
        tbody, thead, tfoot {
            background: $white;
            border: none;
        }
        tr, tr:nth-of-type(even) {
            background: $white;
        }
    }
}
