body {
  width: 100%;
  min-width: 1130px;
  margin: 0;
  padding: 0;
  background-color: rgb(230,230,230);
  background-color: rgba(0,0,0,0.1);
  color: rgb(80,80,80);
}
header {
  background-color: rgb(31, 31, 122);
  background-color: hsla(240,60%,30%,1);
  margin: 0;
  padding: 60px 50px;
  color: #FFF;
  box-shadow: 0 5px 5px 2px rgba(0,0,0,0.4);
}
figure {
  padding: 20px 50px;
  margin: 0 auto;
}
header h1, h4, h3 {
  padding: 10px 20px;
  margin: 0 auto;
}
h2 {
  margin-top: 0;
  margin-bottom: 40px;
}
h2, h3 {
  clear: left;
}
h3 {
  padding-top: 25px;
}
h4 {
  margin: 0;
  font-weight: normal;
}
.labels {
  display: inline-block;
}
section {
  position: relative;
  border: 1px solid rgb(150,150,150);
  border-radius: 10px;
  margin: 20px 0;
}
section:hover {
  cursor: pointer;
}
section#examples , section#translate, section#rotate, section#drotate, section#scale, section#skew, section#perspective {
  overflow: hidden;
  height: auto;
  padding: 15px;
}
section > span {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 0.9em;
  font-style: italic;
  color: rgb(100,100,100);
}
figure section > div {
  float: left;
  margin: 15px 25px 20px 5px;
  width: 150px;
  height: 100px;
  border: 8px solid #B0C4DE;
  border-radius: 10px;
  background-color: rgb(112, 126, 194);
  box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.3);
  line-height: 100px;
  text-align: center;
  color: #FFF;
}
figure div > span {
  display: inline-block;
  width: 50px;
  height: 35px;
  border: 4px solid rgb(255,165,0);
  border: 4px solid rgba(255,165,0,0.85);
  border-radius: 5px;
  background-color: rgb(255,250,205);
  background-color: rgba(255,250,205,0.85);
  box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.5);
  line-height: 35px;
  text-align: center;
}
footer {
  padding: 30px 50px;
  background-color: #FFF;
  color: rgb(25,25,25);
  box-shadow: 0 -5px 5px 2px rgba(0,0,0,0.4);
}
footer p {
  margin: 0;
}

/*Margins*/

figure section#rotate > div {
  margin: 15px 60px 20px 60px;
}
figure section#drotate > div {
  margin: 15px 65px 20px 30px;
}
figure section#translate > div {
  margin: 15px 45px 20px 5px;
}
figure section#skew > div {
  margin: 15px 45px 20px 5px;
}
figure section#perspective > div {
  margin: 15px 45px 20px 5px;
}

/*Transitions*/

section#examples > div, .labels {
  -webkit-transition: all 0.75s;
  transition: all 0.75s;
}
section#translate > .labels {
  -webkit-transition: all 2s;
  transition: all 2s;
}
section#translate .horizontally {
  -webkit-transition: all 1.25s ease .5s;
  transition: all 1.25s cubic-bezier(.7,-0.2,.2,1.3) .5s;
}
section#translate .horizontally span {
  -webkit-transition: all 1.25s ease .7s;
  transition: all 1.25s cubic-bezier(.7,-0.2,.2,1.3) .7s;
}
section#translate .vertically {
  -webkit-transition: all .75s ease;
  transition: all .75s ease;
}
section#translate .vertically span {
  -webkit-transition: all 1s ease .1s;
  transition: all 1s ease .1s;
}
section#translate .both {
  -webkit-transition: all .75s ease-in-out .2s;
  transition: all .75s ease-in-out .2s;
}
section#translate .both span {
  -webkit-transition: all 1s ease .3s;
  transition: all 1s ease .3s;
}
section#translate .ztranslate {
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}
section#translate .ztranslate span {
  -webkit-transition: all .6s ease-in .45s;
  transition: all .6s ease-in .45s;
}
section#rotate  > div, .labels, span {
  -webkit-transition: all 1s;
  transition: all 1s;
}
section#rotate .normal, section#rotate .negative {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
section#rotate .normal span, section#rotate .negative span {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
section#rotate .rotate_origin {
  -webkit-transition: all .75s ease-in-out;
  transition: all .75s ease-in-out;
}
section#drotate  > div, span, .labels {
  -webkit-transition: all .75s;
  transition: all .75s;
}
section#drotate .card1 > div, span, .labels, section#drotate .card2 > div, span, .labels {
  -webkit-transition: all .75s ease-out;
  transition: all .75s ease-out;
}
section#scale > div, .labels {
  -webkit-transition: all .75s;
  transition: all .75s;
}
section#skew > div, .labels {
  -webkit-transition: all .5s;
  transition: all .5s;
}
section#perspective > div, .labels {
  -webkit-transition: all 1s;
  transition: all 1s;
}

/*Transforms-Examples*/

.translate {
  -webkit-transform: translate(-15px, -20px);
  -ms-transform: translate(-15px, -20px);
  transform: translate(-15px, -20px);
}
#examples:hover .translate {
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
}
.rotate {
  -webkit-transform: rotate(195deg);
  -ms-transform: rotate(195deg);
  transform: rotate(195deg);
}
#examples:hover .rotate {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}
.scale {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
}
#examples:hover .scale {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.skew {
  -webkit-transform: skew(-10deg);
  -ms-transform: skew(-10deg);
  transform: skew(-10deg);
}
#examples:hover .skew {
  -webkit-transform: skew(0);
  -ms-transform: skew(0);
  transform: skew(0);
}

/*Transforms-Translates*/

#translate:hover .horizontally {
  -webkit-transform: translate(240%);
  -ms-transform: translate(240%);
  transform: translate(240%);
}
.horizontally span {
  -webkit-transform: translate(110%);
  -ms-transform: translate(110%);
  transform: translate(110%);
  margin-top: 15px;
}
#translate:hover .horizontally span {
  -webkit-transform: translate(-110%);
  -ms-transform: translate(-110%);
  transform: translate(-110%);
}
#translate:hover .vertically {
  -webkit-transform: translate(0,-75%);
  -ms-transform: translate(0,-75%);
  transform: translate(0,-75%);
}
#translate .vertically span {
  -webkit-transform: translate(0,-150px);
  -ms-transform: translate(0,-150px);
  transform: translate(0,-150px);
}
#translate:hover .vertically span {
  -webkit-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  transform: translate(0,-50%);
}
#translate .vertically .labels {
  -webkit-transform: translate(0,35%);
  -ms-transform: translate(0,35%);
  transform: translate(0,35%);
}
#translate:hover .vertically .labels {
  -webkit-transform: translate(0,-35%);
  -ms-transform: translate(0,-35%);
  transform: translate(0,-35%);
}
#translate:hover .both {
  -webkit-transform: translate(100%, -75%);
  -ms-transform: translate(100%, -75%);
  transform: translate(100%, -75%);
}
#translate .both span {
  -webkit-transform: translate(40px,-30px);
  -ms-transform: translate(40px,-30px);
  transform: translate(40px,-30px);
}
#translate:hover .both span {
  -webkit-transform: translate(-150%, 140%);
  -ms-transform: translate(-150%, 140%);
  transform: translate(-150%, 140%);
}
#translate .both .labels {
  -webkit-transform: translate(-10px,33px);
  -ms-transform: translate(-10px,33px);
  transform: translate(-10px,33px);
}
#translate:hover .both .labels {
  -webkit-transform: translate(160%, -35%);
  -ms-transform: translate(160%, -35%);
  transform: translate(160%, -35%);
}
.ztranslate {
  display: inline-block;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 800px;
  perspective: 800px;
}
#translate:hover > div.ztranslate {
  -webkit-transform: translateZ(50px) translate(80%);
  -ms-transform: translateZ(50px) translate(80%);
  transform: translateZ(50px) translate(80%);
}
.ztranslate span {
  display: inline-block;
  -webkit-transform: translate(-100%,-20%);
  -ms-transform: translate(-100%,-20%);
  transform: translate(-100%,-20%);
}
#translate:hover .ztranslate span {
  -webkit-transform: translate3d(150%,170%,-50px);
  -ms-transform: translate3d(150%,170%,-50px);
  -moz-transform: translate3d(150%,170%,-50px);
  transform: translate3d(150%,170%,-50px);
}

/*Transforms-Rotates*/

#rotate:hover .normal {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
#rotate .normal span {
  font-size: 70%;
  color: rgba(0,0,0,0.5);
}
#rotate:hover .normal span {
  -webkit-transform: rotate(-540deg);
  -ms-transform: rotate(-540deg);
  transform: rotate(-540deg);
}
#rotate .normal .labels {
  -webkit-transform: translate(0,35px);
  -ms-transform: translate(0,35px);
  transform: translate(0,35px);
}
#rotate:hover .negative {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
#rotate .negative span {
  font-size: 70%;
  color: rgba(0,0,0,0.5);
}
#rotate:hover .negative span {
  -webkit-transform: rotate(540deg);
  -ms-transform: rotate(540deg);
  transform: rotate(540deg);
}
#rotate .negative .labels {
  -webkit-transform: translate(0,35px);
  -ms-transform: translate(0,35px);
  transform: translate(0,35px);
}
#rotate:hover .rotate_origin {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -webkit-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  transform-origin: right bottom;
}
#rotate:hover .rotate_origin span {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
}
#rotate .rotate_origin .labels {
  -webkit-transform: translate(0,35px);
  -ms-transform: translate(0,35px);
  transform: translate(0,35px);
}
#rotate .rotatex {
  margin-left: 195px;
  margin-top: 25px;
}
#rotate:hover .rotatex {
  -webkit-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg);
  opacity: 0.5;
}
#rotate .rotatey {
  margin-top: 25px;
}
#rotate:hover .rotatey {
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
  opacity: 0.5;
}

/*Transforms-3DRotates*/

.drotate_origin1, .drotate_origin2 {
  line-height: 170px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 800px;
  perspective: 800px;
  -webkit-transform: translate(0,30%);
  -ms-transform: translate(0,30%);
  transform: translate(0,30%);
}
#drotate:hover .drotate_origin1 {
  -webkit-transform: rotate(180deg) translate(0,-30%);
  -ms-transform: rotate(180deg) translate(0,-30%);
  transform: rotate(180deg) translate(0,-30%);
}
#drotate .card1 .labels, #drotate .card2 .labels {
  color: rgb(70,70,70);
}
.drotate_origin1 span, .drotate_origin2 span {
  -webkit-transform: translate(0,-80%);
  -ms-transform: translate(0,-80%);
  transform: translate(0,-80%);
}
.drotate_origin1 span {
  -webkit-transform-origin: right top 20px;
  -ms-transform-origin: right top 20px;
  transform-origin: right top 20px;
}
#drotate:hover .drotate_origin1 span {
  -webkit-transform: rotate3d(1,1,0,180deg);
  -ms-transform: rotate3d(1,1,0,180deg);
  transform: rotate3d(1,1,0,180deg);
}
#drotate:hover .drotate_origin2 {
  -webkit-transform: rotate(180deg) translate(0,-30%);
  -ms-transform: rotate(180deg) translate(0,-30%);
  transform: rotate(180deg) translate(0,-30%);
}
.drotate_origin2 span {
  -webkit-transform-origin: left top 80px;
  -ms-transform-origin: left top 80px;
  transform-origin: left top 80px;
}
#drotate:hover .drotate_origin2 span {
  -webkit-transform: rotate3d(1,1,0,180deg);
  -ms-transform: rotate3d(1,1,0,180deg);
  transform: rotate3d(1,1,0,180deg);
}
.card1, .card2 {
  border-radius: 5px;
  width: 123px;
  height: 180px;
  text-align: center;
  position: relative;
  border: 0px solid #B0C4DE;
  background-color: rgba(0,0,0,0);
  box-shadow: 2px 2px 3px 1px rgba(0,0,0,0);
  line-height: 25px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
.card1_back, .card2_back {
  position: absolute;
  background: url(card-back.png) bottom no-repeat;
  width: 123px;
  height: 180px;
  background-size: contain;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.3);
  border-radius: 5px;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform-origin: left top -30px;
  -ms-transform-origin: left top -30px;
  transform-origin: left top -30px;
}
.card1_back  {
  -webkit-transform-origin: 50% 50% -10px;
  -ms-transform-origin: 50% 50% -10px;
  transform-origin: 50% 50% -10px;
}
.card1_front {
  background: url(ace-spades.png) bottom no-repeat;
  background-size: contain;
  width: 123px;
  height: 180px;
  box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.3);
  border-radius: 5px;
  -webkit-transform: rotate3d(0,1,0,180deg);
  -ms-transform: rotate3d(0,1,0,180deg);
  transform: rotate3d(0,1,0,180deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform-origin: 50% 50% 10px;
  -ms-transform-origin: 50% 50% 10px;
  transform-origin: 50% 50% 10px;
}
#drotate:hover .card1_front {
  -webkit-transform: rotate3d(0,1,0,0deg);
  -ms-transform: rotate3d(0,1,0,0deg);
  transform: rotate3d(0,1,0,0deg);
}
#drotate:hover .card1_back {
  -webkit-transform: rotate3d(0,1,0,-180deg);
  -ms-transform: rotate3d(0,1,0,-180deg);
  transform: rotate3d(0,1,0,-180deg);
}
.card2_front {
  background: url(queen-hearts.png) bottom no-repeat;
  width: 123px;
  height: 180px;
  background-size: contain;
  box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.3);
  border-radius: 5px;
  -webkit-transform: rotate3d(1,1,0,180deg);
  -ms-transform: rotate3d(1,1,0,180deg);
  transform: rotate3d(1,1,0,180deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform-origin: left top 30px;
  -ms-transform-origin: left top 30px;
  transform-origin: left top 30px;
}
#drotate:hover .card2_front {
  -webkit-transform: rotate3d(1,1,0,0deg);
  -ms-transform: rotate3d(1,1,0,0deg);
  transform: rotate3d(1,1,0,0deg);
}
#drotate:hover .card2_back {
  -webkit-transform: rotate3d(1,1,0,-180deg);
  -ms-transform: rotate3d(1,1,0,-180deg);
  transform: rotate3d(1,1,0,-180deg);
}
.labelback1, .labelback2 {
  position: absolute; top: 180px; right: 40px;
  font-weight: bold;
  color: rgba(255,255,255,0.95);
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.labelback1  {
  -webkit-transform-origin: 50% 50% -10px;
  -ms-transform-origin: 50% 50% -10px;
  transform-origin: 50% 50% -10px;
}
#drotate:hover .labelback1 {
  -webkit-transform: rotate3d(0,1,0,-180deg);
  -ms-transform: rotate3d(0,1,0,-180deg);
  transform: rotate3d(0,1,0,-180deg);
}
#drotate:hover .labelback2 {
  -webkit-transform: rotate3d(1,0,0,-180deg);
  -ms-transform: rotate3d(1,0,0,-180deg);
  transform: rotate3d(1,0,0,-180deg);
}
.labelfront1 {
  -webkit-transition: all 1s;
  transition: all 1s;
  color: rgba(255,255,255,0.95);
  font-weight: bold;
  -webkit-transform: rotate3d(0,1,0,180deg);
  -ms-transform: rotate3d(0,1,0,180deg);
  transform: rotate3d(0,1,0,180deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 50% 50% 10px;
  -ms-transform-origin: 50% 50% 10px;
  transform-origin: 50% 50% 10px;
}
#drotate:hover .labelfront1 {
  -webkit-transform: rotate3d(0,1,0,0deg);
  -ms-transform: rotate3d(0,1,0,0deg);
  transform: rotate3d(0,1,0,0deg);
}
.labelfront2 {
  -webkit-transition: all 1s;
  transition: all 1s;
  color: rgba(255,255,255,0.95);
  font-weight: bold;
  -webkit-transform: rotate3d(1,0,0,180deg);
  -ms-transform: rotate3d(1,0,0,180deg);
  transform: rotate3d(1,0,0,180deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#drotate:hover .labelfront2 {
  -webkit-transform: rotate3d(1,0,0,0deg);
  -ms-transform: rotate3d(1,0,0,0deg);
  transform: rotate3d(1,0,0,0deg);
}

/*Transforms-Scales*/

#scale .uniform {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
}
#scale:hover .uniform {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
#scale .scalex {
  -webkit-transform: scaleX(0.6);
  -ms-transform: scaleX(0.6);
  transform: scaleX(0.6);
}
#scale:hover .scalex {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
#scale .scaley {
  -webkit-transform: scaleY(0.6);
  -ms-transform: scaleY(0.6);
  transform: scaleY(0.6);
}
#scale:hover .scaley {
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
}
#scale .separatelly {
  -webkit-transform: scale(0.6,1.4);
  -ms-transform: scale(0.6,1.4);
  transform: scale(0.6,1.4);
}
#scale:hover .separatelly {
  -webkit-transform: scale(1,1);
  -ms-transform: scale(1,1);
  transform: scale(1,1);
}
#scale .negative {
  -webkit-transform: scale(-0.7);
  -ms-transform: scale(-0.7);
  transform: scale(-0.7);
}
#scale:hover .negative {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

/*Transforms-Skews*/

#skew .skewx {
  -webkit-transform: skew(10deg);
  -ms-transform: skew(10deg);
  transform: skew(10deg);
}
#skew:hover .skewx {
  -webkit-transform: skew(0);
  -ms-transform: skew(0);
  transform: skew(0);
}
#skew .negative {
  -webkit-transform: skew(-10deg);
  -ms-transform: skew(-10deg);
  transform: skew(-10deg);
}
#skew:hover .negative {
  -webkit-transform: skew(0);
  -ms-transform: skew(0);
  transform: skew(0);
}
#skew .skewy {
  -webkit-transform: skewY(10deg);
  -ms-transform: skewY(10deg);
  transform: skewY(10deg);
}
#skew:hover .skewy {
  -webkit-transform: skewY(0);
  -ms-transform: skewY(0);
  transform: skewY(0);
}
#skew .separatelly {
  -webkit-transform: skew(-20deg, 5deg);
  -ms-transform: skew(-20deg, 5deg);
  transform: skew(-20deg, 5deg);
}
#skew:hover .separatelly {
  -webkit-transform: skew(0,0);
  -ms-transform: skew(0,0);
  transform: skew(0,0);
}

/*Transforms-Perspectives*/

#perspective .perspective_normal {
  -webkit-transform: rotateY(-45deg);
  -ms-transform: rotateY(-45deg);
  transform: rotateY(-45deg);
}
#perspective:hover .perspective_normal {
  -webkit-transform: rotateY(0);
  -ms-transform: rotateY(0);
  transform: rotateY(0);
}
#perspective .perspective1 {
  -webkit-transform: perspective(2000px) rotateY(-45deg);
  -ms-transform: perspective(2000px) rotateY(-45deg);
  transform: perspective(2000px) rotateY(-45deg);
}
#perspective:hover .perspective1 {
  -webkit-transform: rotateY(0);
  -ms-transform: rotateY(0);
  transform: rotateY(0);
}
#perspective .perspective2 {
  -webkit-transform: perspective(800px) rotateY(-45deg);
  -ms-transform: perspective(800px) rotateY(-45deg);
  transform: perspective(800px) rotateY(-45deg);
}
#perspective:hover .perspective2 {
  -webkit-transform: rotateY(0);
  -ms-transform: rotateY(0);
  transform: rotateY(0);
}
#perspective .perspective3 {
  -webkit-transform: perspective(250px) rotateY(-45deg);
  -ms-transform: perspective(250px) rotateY(-45deg);
  transform: perspective(250px) rotateY(-45deg);
}
#perspective:hover .perspective3 {
  -webkit-transform: rotateY(0);
  -ms-transform: rotateY(0);
  transform: rotateY(0);
}