@media only screen and (min-width: 980px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  body {
    background: url(images/flowering_tree_bg.jpg) no-repeat;
  }
  #header_logo {
    float: left;
    width: 500px;
    height: 170px;
    background: url(images/gazda_header_logo.png) no-repeat;
  }
  #header_logo img {
    margin-left: 70px;
  }
  #header_menu {
    margin-left: 500px;
  }
  #header_menu ul {
    height: 72px;
    padding-right: 100px;
    margin-left: -5px;
  }
  #header_text {
    position: relative;
    top: 0;
    left: 0;
    height: 74px;
    background: url(images/gazda_leaf_pattern_small.jpg) no-repeat top left;
  }
  
  #lang_menu {
    top: 43px;
  }
  .dropdown-content a {
    padding: 5px 10px;
  }
  #aside {
    padding: 0 0 20px 15px;
  }
  #main_text {
    padding-left: 25px;
  }
  #container_top {
    margin-top: 220px;
  }
  #content_header {
    height: 180px;
  }
  #search {
    margin: 15px 0;
  }
  #search_form p {
    display: block;
  }
  #search input {
    float: none;
    width: 95%;
  }
  #search input[type="submit"] {
    float: none;
    width: 60%;
  }
  #search table {
    display: table;
  }
  
  #news, #type_menu, #products {
    display: block;
  }
  #pop_products h4, #pop_products > p {
    padding-left: 3%;
    margin-bottom: 10px;
  }
  #planner {
    margin-top: 0px;
  }
  #opening {
    float: right;
    width: 25%;
  }
  #footer_content {
    width: 90%;
  }
  #footer_content p {
    padding: 6px 30px;
  }
}
@media only screen and (min-width: 1281px) {
  body {
    background: url(images/flowering_tree_bg_big.jpg) no-repeat top right;
  }
  #header_text {
    background: url(images/gazda_leaf_pattern.jpg) no-repeat top right;
  }
  #pop_products li {
    width: 30%;
    margin: 15px 3% 15px 0;
  }
}