$contentBox1Color: #569099;

@media only screen and (max-width: 767px) and (orientation: landscape) {
  .header_img_text {
    top: 25%;
  }
  #header_img_container {
    height: 300px;
  }
  .large_img {
    display: block;
  }
  .small_img, .medium_img {
    display: none;
  }
  .navbar-fixed-top {
    position: relative;
  }
  .navbar-fixed-top .navbar-collapse {
    max-height: none;
  }
  #content_header {
    padding: 15px 30px 0 30px;
  }
  .content_box {
    padding: 15px 30px;
  }
  #habitats .habitats_card {
    margin: 30px auto;
  }
  #events header {
    padding: 30px 30px;
  }
  #events .panel-title {
    padding: 7px 30px;
  }
  #events .panel-body {
    margin: 0 30px;
  }
}
@media only screen and (min-width: 768px) {
  .navbar-nav {
    background: transparent;
  }
  .navbar-nav > li {
    float: none;
    display: inline-block;
    width: 19%;
  }
  .navbar-default .navbar-nav > li > a {
    padding: 25px 0;
  }
  #myNavbar {
    top: 0;
    margin: 0;
    margin-top: -80px;
  }
  #second_link {
    margin-right: 10%;
  }
  #third_link {
    margin-left: 10%;
  }
  .nav > li > a {
    padding: 25px 10px;
  }
  .small_img {
    display: none;
  }
  .medium_img {
    display: block;
  }
  .content_box {
    padding: 15px 40px 30px;
  }
  #content_header {
    padding: 15px 40px 0 40px;
  }
  #header_img_container {
    height: 700px;
  }
  #wildlife > p {
    margin-bottom: 20px;
  }
  #carousel_animals {
    float: left;
    position: absolute;
    top: 25%;
    left: 40px;
  }
  .animal_description {
    display: block;
  }
  #events {
    .panel-default {
      padding: 30px;
    }
  }
  #habitats {
    .habitats_card {
      margin: 0;
      padding: 0 30px 0 0;
      h5 {
        width: 92%;
      }
    }
  }
  #footer {
    padding: 15px 40px;
  }
}
@media only screen and (min-width: 992px) {
  .large_img {
    display: block;
  }
  .small_img, .medium_img {
    display: none;
  }
  #header_img_container {
    background: url(images/vki_header.jpg) no-repeat top center;
    background-size: cover;
  }
  .header_img_text {
    top: 27%;
  }
  #container {
    .large_container {
      padding-right: 28%;
      transition: all 0.8s;
    }
    .expand_large_container {
      padding-right: 90px;
    }
  }
  #events {
    position: absolute;
    right: 0;
    top: 40px;
    width: 25%;
    font-size: 0.9em;
    margin-top: -10px;
    padding-bottom: 15px;
    box-shadow: -5px 0px 5px rgba(0,0,0,0.4);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    overflow: hidden;
    #tablet_events {
      display: none;
    }
    & > header {
      overflow: hidden;
      position: relative;
      text-align: center;
      border-top-left-radius: 15px;
      padding: 15px;
      background: $contentBox3Color;
      background-image: url(images/events/flower.png);
      background-repeat: no-repeat;
      padding-left: 40px;
      span {
        display: inline-block;
      }
      #header_title {
        transition: all 0.8s;
      }
      .header_rotate {
        padding-left: 0px;
        transform: rotate(-90deg) translate(-30px, -60px);
        -webkit-transform-origin: right bottom;
        -ms-transform-origin: right bottom;
        transform-origin: right bottom;
      }
    }
    .panel-title {
      padding: 7px 20px;
    }
    .panel-body {
      margin: 0 20px;
    }
    .panel-default {
      padding: 0;
    }
  }
  #carousel1 .carousel-caption {
    bottom: 27.5%;
    left: 11%;
  }
  #carousel2 .carousel-caption, #carousel3 .carousel-caption {
    bottom: 1%;
    left: 6%;
  }
  .carousel-caption {
    text-align: left;
    h3 {
      font-size: 3em;
    }
    p {
      font-size: 2em;
    }
  }
  .carousel-indicators {
    li {
      width: 15px;
      height: 15px;
      margin: 1px 5px;
    }
    .active {
      width: 16px;
      height: 16px;
      margin: 1px 5px;
    }
  }
}
@media only screen and (min-width: 1280px) {
  #content {
    background-size: contain;
    padding-top: 150px;
  }
  .content_box {
    padding: 15px 28% 30px 80px;
  }
  #content_header {
    padding: 15px 28% 0 80px;
  }
  #carousel_animals {
    top: 20%;
    left: 80px;
  }
}
