/* Colors */
$navBarColor: #a6bbc4;
$navBarColorOp: rgba(166,187,196,0.85);
$contentBox1Color: #569099;
$contentBox2Color: #c0d4d8;
$contentBox3Color: #90b4bb;

body, html {
  max-width: 1920px;
  margin: 0 auto;
}
body {
  color: #fff;
  font: {
    family: Arial,sans-serif;
    size: 1.5em;
  }
  background-color: $contentBox3Color;
  width: 100%;
}
a:hover {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}
.google_map {
  width: 100%;
  height: 400px;
  background: #fff;
}
.leftpadding {
  padding: {
    left: 0;
    right: 30px;
  }
}
.rightpadding {
  padding: {
    left: 30px;
    right: 0;
  }
}
.container-fluid {
  padding: 0;
}
.navbar {
  z-index: 4;
  max-width: 1920px;
  margin: 0 auto;
}
.navbar-default {
  background: $navBarColor;
  background: $navBarColorOp;
  border: none;
  .navbar-nav > li {
    position: relative;
    padding-bottom: 5px;
  }
  .navbar-nav > li > a {
    color: #fff;
    font: {
      size: 15px;
      weight: bold;
    }
    padding: 15px 0;
    &:hover {
      color: #fff;
    }
  }
  .navbar-toggle:focus, .navbar-toggle:hover {
    background: $navBarColor;
  }
  .navbar-toggle .icon-bar {
    background-color: #fff;
  }
}
#home_button {
  position: relative;
  display: block;
  top: 2px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  width: 130px;
  margin: {
    right: auto;
    left: auto;
  }
  z-index: 50;
  img {
    display: inline-block;
    width: 100px;
    height: auto;
  }
}
.navbar-nav {
  float: none;
}
#myNavbar {
  position: relative;
  top: 15px;
  clear: both;
  margin: 10px;
}
#header_img_container {
  width: 100%;
  height: 500px;
  background: url(images/vki_header.jpg) no-repeat top center;
  z-index: 1;
}
.header_img_text {
  left: 0;
  top: 23%;
  position: relative;
  z-index: 2;
}
.large_img, .medium_img {
  display: none;
}
.small_img {
  display: block;
}
#container {
  position: relative;
  padding: 0;
  .collapse_events {
    width: 60px;
    height: 200px;
    background: $contentBox3Color;
  }
}
#content {
  position: relative;
  background: {
    image: url(images/content_top.png);
    position: left top;
    repeat: no-repeat;
  }
  padding-top: 100px;
  margin-top: -90px;
  z-index: 3;
  .row {
    margin: {
      left: 0;
      right: 0;
    }
  }
}
.content_box {
  margin: 0;
  padding: 15px 15px 30px 15px;
  p {
    padding: 15px 0;
  }
}
.homepage_link {
  color: #fff;
  margin-top: 30px;
  display: block;
  clear: both;
  &:hover {
    color: #fff;
    text-decoration: underline;
  }
}
#content_header {
  padding: 15px 15px 0 15px;
  background: {
    color: $contentBox1Color;
    image: url(images/content_top2.png);
    position: left top;
    repeat: no-repeat;
  }
  h2 {
    margin-top: 0;
  }
  p {
    border-bottom: 1px solid $contentBox2Color;
    padding-bottom: 35px;
    margin-bottom: 0;
  }
}
#content_text {
  background-color: $contentBox1Color;
  margin: 0;
  padding: 10px 10%;
}
#wildlife, #events {
  background: $contentBox1Color;
}
#wildlife {
  position: relative;
}
#carousel_animals {
  width: 280px;
  margin: 10px auto 30px auto;
  padding-left: 0;
  overflow: visible;
  color: $contentBox1Color;
  text-align: center;
  img {
    width: 260px;
    height: auto;
  }
  h3 {
    font-size: 26px;
    text-transform: uppercase;
    margin: 0;
    padding: 7px 0 0;
  }
  h4 {
    margin: 0;
    padding: 5px;
  }
  strong {
    padding-top: 10px;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 2px;
  }
  p {
    font: {
      size: 16px;
    }
    margin: 0;
    padding: 0;
    &:last-child {
      font-style: normal;
      padding: 10px 0;
    }
  }
  .carousel-inner {
     width: 290px;
  }
  .carousel-inner > .item {
    width: 100%;
    padding: 15px;
  }
  .animal_card {
    box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.3);
    background: #fff;
  }
  .animal_carousel_text {
    header {
      background: $contentBox3Color;
      color: #fff;
      p {
        font-style: italic;
        padding: 2px 0 5px 0;
      }
    }
  }
  .animal_carousel_label {
    background: $contentBox2Color;
    color: #fff;
    text-transform: uppercase;
    h4 {
      font: {
        size: 16px;
        weight: bold;
      }
      letter-spacing: 1px;
    }
  }
  .carousel-control {
    font-size: 30px;
    width: 35%;
  }
  .carousel-control.right, .carousel-control.left {
    background-image: none;
  }
  .carousel-control.right {
    margin-right: -60px;
  }
  .carousel-control.left {
    margin-left: -50px;
  }
  .cons_status {
    margin: 2px;
    font-size: 12px;
  }
  .active_status {
    margin: 6px 2px 0;
    padding: 8px;
    width: 35px;
    font-size: 15px;
    height: 35px;
    font-style: normal;
    background: $contentBox3Color;
    color: #fff;
    border: 0;
  }
}
.carousel-caption {
  text-shadow: 1px 1px 1px #000;
  h3 {
    font-size: 2em;
  }
  p {
    font-size: 1em;
  }
}
.carousel-indicators {
  li {
    background: #ebebeb;
  }
  .active {
    background: $contentBox1Color;
  }
}
.animal_description {
  display: none;
  position: relative;
  margin: 10px 0 30px 310px;
  border: 1px solid #fff;
  border-radius: 10px;
  margin-top: -10px;
  padding: 30px;
  h4 {
    margin-top: 0;
  }
  h5 {
    font-style: italic;
  }
  h6 {
    font-size: 1em;
    margin-bottom: 0;
  }
  h6 + p {
    padding-top: 5px;
    margin-top: 8px;
    border-top: 1px solid #fff;
  }
  p {
    padding: 0;
    margin: 15px 0;
    &:last-child {
      margin: 0;
    }
  }
  .besorolas {
    position: absolute;
    display: inline-block;
    font: {
      size: 0.8em;
      weight: bold;
    }
    text-transform: uppercase;
    color: $contentBox2Color;
    letter-spacing: 1px;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid $contentBox3Color;
    top: 30px;
    right: 30px;
  }
  .iucn {
    margin-right: 5px;
    display: inline-block;
  }
  .status_symbols {
    display: inline-block;
  }
}
.cons_status {
    display: inline-block;
    margin: 10px 4px;
    padding: 4px;
    width: 27px;
    height: 27px;
    text: {
      align: center;
      transform: uppercase;
    }
    font: {
      size: 12px;
      weight: bold;
    }
    border-radius: 20px;
    border: 1px solid $contentBox2Color;
  }
  .active_status {
    background: #fff;
    color: $contentBox1Color;
  }
#events {
  transition: width 0.8s, background 0.1s;
  line-height: 1.2;
  padding: 0;
  padding-bottom: 30px;
  @media screen and (min-width: 768px) and (max-width: 991px) {
    padding: 15px;
  }
  #accordion {
    @media screen and (min-width: 768px) and (max-width: 991px) {
      display: none;
    }
  }
  header {
    padding: 30px 15px;
    background: $contentBox1Color;
    @media screen and (min-width: 768px) and (max-width: 991px) {
      background: transparent;
      padding: 30px 30px;
    }
    color: #fff;
  }
  & > header {
    span {
        display: none;
        position: absolute;
        top: 25px;
        left: 15px;
        width: 25px;
        height: 25px;
        font-size: 25px;
        cursor: pointer;
      }
  }
  p {
    margin: 0;
    padding: 0;
  }
  h3 {
    display: inline-block;
    margin-top: 0;
    font-size: 1.4em;
    a {
      color: #fff;
    }
  }
  a {
    text-decoration: none;
  }
  .panel {
    background: $contentBox2Color;
    border: 0;
  }
  .panel-heading {
    padding: 0;
    img {
      width: 100%;
      height: auto;
    }
    a {
      display: block;
    }
  }
  .panel-title {
      padding: 7px 15px;
      background: $contentBox2Color;
      color: $contentBox1Color;
      font: {
        size: 1em;
        weight: bold;
      }
    }
  .panel-body {
    color: $contentBox1Color;
    border-color: $contentBox1Color;
    padding: 15px 0;
    margin: 0 15px;
    .event_link {
      display: inline-block;
      color: $contentBox1Color;
      margin-top: 15px;
      text-decoration: underline;
      font-size: 0.9em;
    }
  }
  .panel-default {
    margin-bottom: 20px;
    padding: 0;
  }
  .homepage_link {
    margin-right: 20px;
    text-align: right;
    &:hover {
      text-decoration: underline;
    }
  }
}
#tablet_events {
    padding: 30px;
    padding-top: 0;
    display: none;
    background: $contentBox1Color;
    @media screen and (min-width: 768px) and (max-width: 991px) {
      display: block;
    }

    .tablet_events {
      margin: 20px 0;
      color: $contentBox1Color;
    }
    .tablet_events_head {
      background: #fff;
      padding: 0 20px;
      h4 {
        margin: 0;
        padding: 10px 0 5px 0;
        color: $contentBox1Color;
      }
    }
    .tablet_events_body {
      background: #fff;
      padding: 15px 20px;
      border-radius: 0 0 10px 10px;
    }
    img {
      width: 100%;
      height: auto;
      border-radius: 10px 10px 0 0;
    }
    .tablet_event_link {
      color: $contentBox1Color;
      display: inline-block;
      margin-top: 15px;
      text-decoration: underline;
    }
    .homepage_link {
      font-size: 1em;
    }
  }
#habitats {
  background: $contentBox3Color;
  h4 {
    margin-top: 40px;
    padding-top: 35px;
    border-top: 1px solid #fff;
  }
  .habitats_card {
    position: relative;
    margin: 30px 0;
    padding: 0;
    max-width: 450px;
    img {
      border-radius: 10px;
      box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
    }
    h5 {
      position: absolute;
      top: 20px;
      left: 2px;
      padding: 0 20px;
      font-size: 1.2em;
      line-height: 1.3;
      text-align: center;
    }
    a {
      position: absolute;
      bottom: 25px;
      left: 35px;
      color: #fff;
    }
  }
}
#water_quality {
  background: #fff;
  color: #000;
  padding: 0;
}
#footer {
  background: $contentBox1Color;
  padding: 15px 25px;
  p {
    margin: 0;
  }
}
#copyright {
  text-align: center;
  a {
    color: #fff;
    &:hover {
      text-decoration: underline;
    }
  }
}
 @import "responsive";
