<!-- Base HTML template for CarePulse external pages -->
{% extends "base/base-members.html" %}
{% load static from staticfiles %}
{% load compress %}

{% block css %}
    {% compress css %}
        <link rel="stylesheet" href="{% static "carepulse/css/normalize.css" %}"/>
        <link rel="stylesheet" href="{% static "themes/base/jquery-ui.min.css" %}"/>
        <link rel="stylesheet" href="{% static "carepulse_generics/compiled_css/app.css" %}"/>
    {% endcompress %}
{% endblock %}

{% block top-banner %}
    <div id="external_page_banner" class="top-banner__logo">
        <div class="small-12 small-centered columns top-banner__logo__box" data-topbar role="navigation">
            <div id="carepulse_logo" class="top-banner__logo--carepulse">
                <a href="{% url 'carepulse:homepage' %}">
                    <div id="nh_image">
                        <img src="{% static 'carepulse_generics/img/200px-carepulse_generic.jpg' %} ">
                    </div>
                </a>
            </div>
            <div id="lph_logo" class="top-banner__logo--lph">
                <div id="nhs_logo" class="top-banner__logo--lph__img">
                  <img src="{% static 'carepulse_generics/img/200px-NHS-Logo.svg.png' %} ">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page-title %}
    {% if header %}
        <div id="page_title" class="top-banner__title">
            <div id="title-box" class="small-12 small-centered columns">
                <div style="position: relative">
                    <h2>{{ header }}</h2>
                    {% block banner-buttons %}
                    {% endblock %}
                </div>
                <div class="login">
                    <button type="button" class="button button--top-banner-icon login__login-button" id="login-button">
                        <span id="user-name">{{ user.user_profile.get_full_name_or_username }}</span>
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </button>
                    <div class="login__login-box">
                        <h6>CarePulse account</h6>
                        <div>Logged in as</div>
                        <div><i>{{ user.user_profile.get_full_name_or_username }}</i></div>
                        <div style="margin-bottom: 15px; margin-top: 8px;">
                            <a class="login__login-link" href={% url 'lph_generics:profile_overview' %} target='_self'>
                                <i class="fa fa-cog"></i><span> Account settings</span>
                            </a>
                        </div>
                        <a class="button small login__login-link login__login-link--logout" href={% url 'logout' %}>Log Out</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block external-navigation %}
    {% if user.is_authenticated %}
        <div id="external-navbar" class="navbar">
            <div class="navbar__header">
                <i class="fas fa-bars fa-border navbar__icon fa-navicon"></i>
                <span>Menu</span>
                <div class="fas fa-long-arrow-alt-left navbar__icon navbar__icon--right"></div>
            </div>
            <ul class="navbar__list">
                <li class="navbar__listitem">
                    <a href="{% url 'carepulse:homepage' %}" id="homepage-link" class="navbar__link">
                      <i class="fa fa-home navbar__icon"></i><span class="navbar__link-text">Home</span>
                    </a>
                    <div class="fa fa-caret-left navbar__icon navbar__icon--indicator navbar__icon--large"></div>
                </li>
            </ul>
            <div class="navbar__box" id="nh-nav-box">
                <div class="navbar__title">
                    <div>Care Homes</div>
                    <i class="fa fa-minus navbar__icon navbar__icon--right navbar__icon--small"></i>
                </div>
                <ul class="navbar__list">
                    <li class="navbar__listitem">
                        <a href="{% url 'removed' %}" id="nhlist-link" class="navbar__link" title="Care home list">
                          <i class="fa fa-list-ul navbar__icon"></i><span class="navbar__link-text">List</span>
                        </a>
                        <div class="fa fa-caret-left navbar__icon navbar__icon--indicator navbar__icon--large"></div>
                    </li>
                    <li class="navbar__listitem">
                        <a href="{% url 'removed' %}" id="nhmap-link" class="navbar__link" title="Nursing home map">
                          <i class="fa fa-map navbar__icon"></i><span class="navbar__link-text">Map</span>
                        </a>
                        <div class="fa fa-caret-left navbar__icon navbar__icon--indicator navbar__icon--large"></div>
                    </li>
                    <li class="navbar__listitem">
                        <a href="{% url 'removed' %}" id="pdashboards-link" class="navbar__link" title="Care home placement dashboards">
                          <i class="fas fa-chart-bar navbar__icon"></i><span class="navbar__link-text">Placements</span>
                        </a>
                        <div class="fa fa-caret-left navbar__icon navbar__icon--indicator navbar__icon--large"></div>
                    </li>
                    <li class="navbar__listitem">
                        <a href="{% url 'removed' %}" id="nhdashboards-link" class="navbar__link" title="Care home quality monitoring">
                            <span class="navbar__icon-box">
                                <span class='svg__container--navigation svg__icon--quality navbar__icon'>
                                    <img class='svg__image' src='{% static "carepulse_generics/img/icon_quality_white.svg" %}'
                                         onerror='this.src="{% static "carepulse_generics/img/icon_quality_white.png" %}"; this.parentNode.classList.add("no-svg")'>
                                </span>
                            </span>
                            <span class="navbar__link-text">Quality</span>
                        </a>
                        <div class="fa fa-caret-left navbar__icon navbar__icon--indicator navbar__icon--large"></div>
                    </li>
                </ul>
            </div>
            <div class="navbar__box" id="dc-nav-box">
                <div class="navbar__title">
                    <div>Domiciliary Care AQP</div>
                    <i class="fa fa-minus navbar__icon navbar__icon--right navbar__icon--small"></i>
                </div>
                <ul class="navbar__list">
                    <li class="navbar__listitem">
                        <a href="{% url 'removed' %}" id="dclist-link" class="navbar__link" title="Domiciliary care list">
                          <i class="fa fa-list-ul navbar__icon"></i><span class="navbar__link-text">List</span>
                        </a>
                        <div class="fa fa-caret-left navbar__icon navbar__icon--indicator navbar__icon--large"></div>
                    </li>
                    <li class="navbar__listitem">
                        <a href="{% url 'removed' %}" id="dcpdashboards-link" class="navbar__link" title="Placement dashboards">
                            <i class="fas fa-chart-bar navbar__icon"></i><span class="navbar__link-text">Placements</span>
                        </a>
                        <div class="fa fa-caret-left navbar__icon navbar__icon--indicator navbar__icon--large"></div>
                    </li>
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="row">
        <div class="small-12 small-centered columns">
            {% block inner-content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {% compress js %}
        <script type="text/javascript" src="{% static "carepulse/js/vendor/jquery-2.1.3.min.js" %}"></script>
        <script type="text/javascript" src="{% static "jquery-ui.min.js" %}"></script>
        <script type="text/javascript" src="{% static "carepulse/js/foundation6.min.js" %}"></script>
        <script type="text/javascript" src="{% static "eldarion-ajax.min.js" %}"></script>
    {% endcompress %}
{% endblock %}

{% block internalJS %}
    <script>
        $(window).on('load', function () {
            $(document).foundation();
        });
        $(window).on('resize', function () {
            Foundation.reInit($('[data-equalizer]'));
            {#Foundation.Equalizer.defaults.equalizeOnStack = true;#}
        });
    </script>
    {% if user.is_authenticated %}
        <script type="text/javascript" src="{% static "carepulse/js/login.js" %}"></script>
    {% endif %}

    {% block nav %}
    {% if user.is_authenticated or navigation %}
        {% if not provider_profile %}
            <script type="text/javascript" src="{% static "carepulse/js/external_navigation.js" %}"></script>
            {% endif %}
    {% endif %}

{% endblock %}
