<!-- Navigation example -->
{% load compress %}

{% block css %}
    {% compress css %}
        <link rel="stylesheet" href="{% static "themes/base/jquery-ui.min.css" %}"/>
        <link rel="stylesheet" href="{% static "compiled_css/app.css" %}"/>
    {% endcompress %}
{% endblock %}

{% block navigation %}
        <div id="external-navbar" class="navbar">
            <div class="navbar__header">
                <i class="fas fa-bars fa-border navbar__icon fa-navicon"></i>
                <span>Menu</span>
                <div class="fas fa-long-arrow-alt-left navbar__icon navbar__icon--right"></div>
            </div>
            <ul class="navbar__list">
                <li class="navbar__listitem">
                    <a href="" id="homepage-link" class="navbar__link">
                      <i class="fa fa-home navbar__icon"></i><span class="navbar__link-text">Home</span>
                    </a>
                    <div class="fa fa-caret-left navbar__icon navbar__icon--indicator navbar__icon--large"></div>
                </li>
            </ul>
            <div class="navbar__box" id="nh-nav-box">
                <div class="navbar__title">
                    <div>Title 1</div>
                    <i class="fa fa-minus navbar__icon navbar__icon--right navbar__icon--small"></i>
                </div>
                <ul class="navbar__list">
                    <li class="navbar__listitem">
                        <a href="" id="nhlist-link" class="navbar__link">
                          <i class="fa fa-list-ul navbar__icon"></i><span class="navbar__link-text">List</span>
                        </a>
                        <div class="fa fa-caret-left navbar__icon navbar__icon--indicator navbar__icon--large"></div>
                    </li>
                    <li class="navbar__listitem">
                        <a href="" id="nhmap-link" class="navbar__link">
                          <i class="fa fa-map navbar__icon"></i><span class="navbar__link-text">Map</span>
                        </a>
                        <div class="fa fa-caret-left navbar__icon navbar__icon--indicator navbar__icon--large"></div>
                    </li>
                </ul>
            </div>
            <div class="navbar__box" id="dc-nav-box">
                <div class="navbar__title">
                    <div>title 2</div>
                    <i class="fa fa-minus navbar__icon navbar__icon--right navbar__icon--small"></i>
                </div>
                <ul class="navbar__list">
                    <li class="navbar__listitem">
                        <a href="" id="dclist-link" class="navbar__link">
                          <i class="fa fa-list-ul navbar__icon"></i><span class="navbar__link-text">List</span>
                        </a>
                        <div class="fa fa-caret-left navbar__icon navbar__icon--indicator navbar__icon--large"></div>
                    </li>
                    <li class="navbar__listitem">
                        <a href="" id="dcpdashboards-link" class="navbar__link">
                            <i class="fas fa-chart-bar navbar__icon"></i><span class="navbar__link-text">Placements</span>
                        </a>
                        <div class="fa fa-caret-left navbar__icon navbar__icon--indicator navbar__icon--large"></div>
                    </li>
                </ul>
            </div>
        </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="row">
        <div class="small-12 small-centered columns">
            {% block inner-content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {% compress js %}
        <script type="text/javascript" src="{% static "js/vendor/jquery-2.1.3.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/foundation6.min.js" %}"></script>
    {% endcompress %}
{% endblock %}

{% block internalJS %}
    <script>
        $(window).on('load', function () {
            $(document).foundation();
        });
    </script>
{% endblock %}
